
@{
    ViewBag.Title = "AboutMe";
}

<h2>Bibliography</h2>

<h3> This page will allow you to get to know the creator</h3>


    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <p>
                My name is Alessia Coetzee. I am a seocnd year student at the Univeristy of Pretoria where I am studying BIT Information
                Systems streaming into Data Science.I attended EBIT week at the University of Pretoria in 2019 where I was introduced
                to the informatics department for the first time and I instantly fell inlove. Our leader for the week was studying
                Bcom Informatics which contributed to the passion I found for the department. I was scared to study any IT degree as my high
                school did not offer IT as a subject and I thought I would fall behind before I even start. This was not the case at all, when
                starting programming in first year, the lectures and course stucture was very helpful.This is the only the beginning of my
                programming career and I am excited to see what the future holds.
            </p>
        </div>

        <div class="col-lg-6 col-sm-6">
            <img class="img-responsive" src="~/Scripts/AboutMe.jpg" class="rounded float-right" alt="About Me" width="300" height="350">
        </div>
    </div>
 

           

