
@using u21562832__HW03.Models;
@model List<FileModel>

<h2>Documents of any file type</h2>

<h3>View all the files</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="col-lg-8 col-md-3 col-sm-6">File Name</th>
                <th class="col-lg-2 col-md-3 col-sm-6">DOWNLOAD OPTION</th>
                <th class="col-lg-2 col-md-3 col-sm-6">DELETE OPTION</th>
            </tr>
        </thead>
        @{ foreach (FileModel file in Model)
            {
                <tbody>
                    <tr>

                        <td>@file.FileName</td>
                        <td>
                            <button type="button" class="btn btn-success" id="Download">
                                @Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName }, new { @style = "color:#FFF;" })
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" id="Delete">
                                @Html.ActionLink("Delete", "DeleteFile", new { fileName = file.FileName }, new { @style = "color:#FFF;" })
                            </button>
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
