@using u21562832__HW03.Models;
@model List<FileModel>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" type="text/css" media="screen" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</head>

<h2>Videos</h2>
<h3>Video Files</h3>


<div class="column">
    @foreach (var item in Model)
    {
        <div class="overflow-auto">
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class=" gallery">
                    <a href="~/Media/Videos/@item.FileName" data-fancybox="gallery" data-type="video" data-caption="@item.FileName">
                        <video controls width="300" height="350">
                            <source src="~/Media/Videos/@item.FileName" type="video/mp4">
                        </video>
                    </a>
                    </div>

                    <p> @item.FileName</p>
                    <button class="btn btn-success">
                        @Html.ActionLink("Download", "Download", new { VideoName = item.FileName }, new { @style = "color:#FFF;" })
                    </button>

                    <button class="btn btn-danger">
                        @Html.ActionLink("Delete", "Delete", new { VideoName = item.FileName }, new { @style = "color:#FFF;" })
                    </button>
                    <br />
                </div>
            </div>
    }
</div>

<script>
    $(document).ready(function ($) {
        $(".gallery a").fancybox();
    });
</script>
